.shopborder {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #b3b3b3;
}
.shopcontent {
	margin-left:15px;



}

img {
	margin:20px;
	
}

.btn-up {
	margin-bottom:15px;
	margin-left:10px;
}

.btncenter {
	text-align:center;
}

.btnwide {
	width: 200px;
	text-align:center;
}




.ftleft {
	float:left;
}

.ftright {
	float:right;
}


.carousel-indicators li { 
	visibility: hidden; 
}


.box {
	box-shadow: 10px 10px 5px #b72a2a;
}
fieldset {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
	
}
td {
	margin:10px;
}

sup {
	font-size: 8px;
}

.hidden {
	display: none;
}

.form-control-focus {
        border-color: #8B0000;
        box-shadow: 0px 1px 1px rgba( 0, 0, 0.075) inset, 0px 0px 8px rgba( 139, 0, 0.5);
    }

