.shopborder {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #b3b3b3;
}
.shopcontent {
	margin-left:15px;
	float:left;

}

img {
	margin:20px;
}
.btncenter {
	text-align:center;
}

.btnwide {
	width: 200px;
	text-align:center;
}


.quotation_mark{
    
    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
    
}

.ftleft {
	float:left;
}

.ftright {
	float:right;
}

